<div class="grid">
	<div class="col-12">
		<div class="card">
			<h5>Mode Paiement</h5>
			<p-table [value]="modes" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        <h2>Liste Des Modes de Paiement</h2>
                        <p-toast position="top-right" key="myKey1"></p-toast>
						<td><button pButton pRipple label="Nouveau mode de paiement" type="button" icon="pi pi-plus" class="p-button-rounded p-button-primary" routerLink="/add-mode"></button></td>
                        
                    </div>
                </ng-template>
                <ng-template pTemplate="header" >
                    <tr>
                     
                        <th>Libelle</th>
                        <th>Etat</th>
                    
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-mode>
                    <tr>
               
                        <td>{{mode.libelle}}</td>
                        <td>{{mode.etatM}}</td>
                        <td>
                        <button *ngIf="mode.etatM === 'desactivé'" pButton pRipple type="button" label="Activer"  icon="pi pi-power-off" class="p-button-rounded p-button-success" (click)="activerMode(mode)"></button>
                        <button *ngIf="mode.etatM === 'activé'" pButton pRipple type="button" label="Désactiver"  class="p-button-rounded p-button-secondary" (click)="desactiverMode(mode)"></button>
                        </td>
                        
                        <td><button pButton pRipple type="button" label="Modifier" icon="pi pi-pencil" class="p-button-rounded p-button-warning" [routerLink]="['/Update-Mode',mode.code]"></button></td>
            
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                       Totalement il y a {{modes ? modes.length : 0 }} mode de paiement.
                    </div>
                </ng-template>
            </p-table>
		</div>
	</div>
</div>
