
	<div class="col-12" >
      

            <div class="grid p-fluid">
                <div class="col-12 md:col-6">
                    <div class="field mt-3">
                        <p-button styleClass="p-button-link mr-2 mb-2" [routerLink]="['/Caisse']">
                            <div class="col-7"class="card">
                                 <h5>Gérer Les Caisses</h5>
                        <div  class="flex justify-content-center">
                            <p-image src="assets/demo/images/galleria/caisse2.png" alt="Image" width="150"></p-image>
                        </div>
                    </div>
                        </p-button>
                    </div>

                    
                    <div class="field">
                        <p-button styleClass="p-button-link mr-2 mb-2" [routerLink]="['/Caissier']">
                            <div class="col-3" class="card">
                                 <h5>Gérer Les Caissiers</h5>
                        <div   class="flex justify-content-center">
                            <p-image src="assets/demo/images/galleria/caissier3.png" alt="Image" width="150"></p-image>
                        </div>
                    </div>
                        </p-button>
                    </div>
        
                         
                 
                </div>
                
                <div class="col-12 md:col-6">                    
                    <div class="field mt-3">
                             
            
            <p-button styleClass="p-button-link mr-2 mb-2" [routerLink]="['/ModePaiement']">
                <div class="col-3" class="card">
                     <h5>Gérer Les Modes</h5>
            <div  class="flex justify-content-center">
                <p-image src="assets/demo/images/galleria/mode2.png" alt="Image" width="150"></p-image>
            </div>
        </div>
            </p-button>
                    </div>


                    <div class="field">
                        <p-button styleClass="p-button-link mr-2 mb-2" [routerLink]="['/Agent']">
                            <div class="col-3" class="card">
                                 <h5>Gérer Les Agents</h5>
                        <div   class="flex justify-content-center">
                            <p-image src="assets/demo/images/galleria/agent4.png" alt="Image" width="150"></p-image>
                        </div>
                    </div>
                        </p-button>
                    </div>
              
              
                </div>
            </div>





            
		          
     

</div>