<div class="grid p-fluid">
    <div class="col-12">
        <div class="card">
            <p-table >
                <ng-template pTemplate="header">
                    <tr>
                        <th ><button  class="p-button-secondary p-button-text mr-2 mb-2"  pButton pRipple type="button" [routerLink]="['/Caisse']" > Retour</button></th>
                        <th colspan="6"> <h3 class="mb-0">Ajouter Caisse</h3></th>
                    </tr>
                    </ng-template></p-table>
         
            <br>
            <h5>numéro caisse</h5>
            <span class="p-float-label">
                <input pInputText id="username" type="text" [(ngModel)]="newCaisse.numC" />
            </span>
            <br><br>
            <h5>Intitulé caisse</h5>
            <span class="p-float-label">
                <input pInputText id="username" type="text" [(ngModel)]="newCaisse.intitule" />
            </span>
            <br><br>
            <h5>Affecter les modes de paiement</h5>
            <p-multiSelect [options]="modesPaiement" [(ngModel)]="newCaisse.modes" display="chip"
                defaultLabel="Select modes" optionLabel="libelle" class="multiselect-custom">

                <ng-template let-mode pTemplate="item">
                    <div class="country-item">
                        <div>{{mode.libelle}}</div>
                    </div>
                </ng-template>

            </p-multiSelect>
            <br><br><br>
            <!--
     {{selectedModes | json}}
            -->
            <span>
               <button pButton pRipple label="Ajouter" type="submit" icon="pi pi-plus"
               [style]="{'width': '40%'}" class="p-button-rounded p-button-primary" routerLink="/Caisse" (click)="addCaisse()"></button>
             
            </span>
        </div>
    </div>
</div>